{% extends "layout.html" %}

{% block content %}


<div class="container">

	<div id="results">
		<b>Line</b>: {{line}}
		<b>Direction</b>: {{direction}}
		<b>Fare zones</b>: {{zones}}<br>
	</div>
</div>
<canvas id="farecost" width="600" height="550"></canvas>
		<script>
	    var farecostData = {
				labels : {{zones}},
				datasets : [
					{
						fillColor : "rgba(172,194,132,0.4)",
						strokeColor : "#ACC26D",
						data : {{fare}}
					},
					{
						fillColor : "rgba(151,187,205,0.5)",
						strokeColor : "rgba(151,187,205,0.5)",
						data : {{cost}}
					}
				]
			}
	    var farecost = document.getElementById('farecost').getContext('2d');
	    new Chart(farecost).Bar(farecostData, {
	    	//scaleOverride : true,
			//scaleSteps : 45,
			//scaleStepWidth : 500,
			//scaleStartValue : 0
	    });
</script>
<!--Farezones-->
<canvas id="recovery" width="600" height="550"></canvas>
		<script>
	    var recoveryData = {
				labels : {{zones}},
				datasets : [
					{
						fillColor : "rgba(172,1,132,0.4)",
						strokeColor : "#ACC26D",
						data : {{recovery}}
					}

				]
			}
	    var recovery = document.getElementById('recovery').getContext('2d');
	    new Chart(recovery).Bar(recoveryData, {
			scaleOverride : true,
			scaleSteps : 36,
			scaleStepWidth : 5,
			scaleStartValue : 0,
			barValueSpacing : 50
		});
  </script>
<!--Farezones-->
<br>
<img src="static\Line5Zone1test.jpg" alt="zones map">

  
{% endblock %}