{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <form action="/chart" method="post">
      <div name="form_field">
        <label for="line">Line:</label>
          <div class="container">
    		<select name="line" size="25">
	          <option selected="selected">1</option>
            <option>5</option>
            <option>6</option>
            <option>11</option>
            <option>13</option>
            <option>21</option>
            <option>25</option>
            <option>26</option>
            <option>27</option>
            <option>28</option>
            <option>29</option>
            <option>30</option>
            <option>34</option>
            <option>37</option>
            <option>39</option>
            <option>40</option>
            <option>41</option>
            <option>48</option>
            <option>52</option>
            <option>56</option>
            <option>57</option>
            <option>58</option>
            <option>59</option>
            <option>62</option>
            <option>63</option>
            <option>64</option>
            <option>65</option>
            <option>66</option>
            <option>67</option>
            <option>68</option>
            <option>70</option>
            <option>71</option>
            <option>72</option>
            <option>73</option>
            <option>74</option>
            <option>76</option>                        
	          <option>78</option>
            <option>79</option>
            <option>80</option>
            <option>81</option>
            <option>82</option>
            <option>83</option>
            <option>84</option>
            <option>85</option>
            <option>86</option>
            <option>87</option>
            <option>89</option>
            <option>90</option>
            <option>92</option>
            <option>94</option>
            <option>96</option>
            <option>97</option>
            <option>99</option>
            <option>107</option>
            <option>108</option>
	          <option>111</option>
            <option>112</option>
            <option>113</option>
            <option>114</option>
            <option>115</option>
            <option>116</option>
            <option>117</option>
            <option>120</option>
            <option>121</option>
            <option>122</option>
            <option>123</option>
            <option>124</option>
            <option>125</option>
            <option>126</option>
	          <option>319</option>
	        </select>
      	</div>
        <br>
        <div name="form_field">
        <label for="">Direction</label>
          <div class="container">
        <select name="direction" size="3">
          <option selected = "selected">Both</option>
          <option>Inbound</option>
          <option>Outbound</option>
        </select>
        </div>
      <input type="submit" id="submit" value="calculate" />
    </form>
  </div>

{% endblock %}
